@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes ping {
  25%,
  50% {
    transform: scale(1);
    opacity: 0;
  }
}
.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.rotate-315 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.text-xxs {
  font-size: 0.55rem;
  line-height: 0.75rem;
}

.text-xms {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.border-1 {
  border-width: 1px;
}

textarea {
  resize: none;
}

.containerE {
  @apply flex  w-[100%] h-full min-h-screen bg-dtBgMainColor box-border;
}

.contentE {
  @apply absolute justify-around  left-0 flex-row   w-screen  max-w-[28.75rem] h-[2rem] cursor-pointer z-50;
}

.pMenus {
  @apply border-b-[0.1rem] mb-1;
}

.vLabels {
  @apply mx-1 mt-2 px-1 whitespace-nowrap text-xms font-poppins;
}

.vDraggables {
  @apply absolute z-40 top-[9rem];
}

.vInputs {
  @apply mx-1 px-1 border-1 border-dGoldenAlpha rounded;
}

.vInputsResponsive {
  @apply flex flex-row md:flex-col justify-between my-1;
}

.vBtnStyle {
  @apply cursor-pointer whitespace-nowrap text-sm md:text-dGrayTitle text-dGolden font-poppins hover:underline  hover:underline-offset-8 hover:decoration-dBlack md:hover:decoration-dGolden;
}
