@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply box-border;
  @apply font-poppins;
  @apply text-sm;
  @apply whitespace-nowrap;
}

textarea {
  @apply resize-none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes ping {
  25%,
  50% {
    transform: scale(1);
    opacity: 0;
  }
}
.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.text-xxs {
  font-size: 0.55rem;
  line-height: 0.39rem;
}

.text-xms {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.border-1 {
  border-width: 1px;
}

.containerE {
  @apply flex  w-[100%] h-full min-h-screen bg-dtBgMainColor box-border;
}

.contentE {
  @apply absolute justify-around  left-0 flex-row   w-screen  max-w-[28.75rem] h-[2rem] cursor-pointer z-50;
}

.pMenus {
  @apply border-b-[0.1rem] mb-1;
}

.vLabels {
  @apply mx-1 mt-2 px-1 whitespace-nowrap text-xms;
}

.vDraggables {
  @apply absolute z-40 top-[9rem];
}

.vInputs {
  @apply mx-1 px-1 border-1 border-dGoldenAlpha rounded;
}

.vInputsResponsive {
  @apply flex flex-row md:flex-col justify-between my-1;
}

.vBtnStyle {
  @apply cursor-pointer md:text-dGrayTitle text-dGolden hover:underline  hover:underline-offset-8 hover:decoration-dBlack md:hover:decoration-dGolden;
}

.vSubmitForm {
  @apply mr-1 md:mr-6 pt-[0.125rem] cursor-pointer whitespace-nowrap  md:text-dGrayTitle text-dGolden hover:underline  hover:underline-offset-8 hover:decoration-dBlack md:hover:decoration-dGolden;
}

.pDragCloseBar {
  @apply text-xxs font-bold uppercase;
}

.pMessageErrorInputs {
@apply text-dGolden whitespace-normal pl-2 text-justify
}